* {
    margin: 0;
    box-sizing: border-box;
    background-color: white;

    font-size: 25px;
    font-family: "Raleway", sans-serif;
}

body {overflow: hidden;}


/*TABLE FORMATTING*/

table {
    margin-top: 20px;

}

table, th, td {
    border: 0 solid white;
    border-collapse: separate;
    border-spacing: 40px;
}

th, td {
    background-color: white;
    height: 100px;
}


.hidden {
    background-color: white;
    border-style: none;
}





li::marker {color: blueviolet;}
ul {list-style-type: '■ '}



.banner {
    border: brown 5px solid;
    width: 66%;

    font-size: 2em;
    font-weight: bold;
}

.menu {
    border: khaki 5px solid;
}

.blocks {
    border: forestgreen 5px solid;
    width: 100px;
    height: 100%;
}



.content {
    border: darksalmon 5px solid;
}

